aiohttp
certifi
httpx
prompt_toolkit
requests
rich
regex
re-edge-gpt-dev
# GUI
PySide6
qt-material
SpeechRecognition
# API
flask[async]
apispec
apispec-webframeworks
marshmallow
Flask-CORS
gunicorn
# Build
build
twine
