aiohttp
certifi
httpx
prompt_toolkit
requests
rich
flask[async]
regex
apispec
apispec-webframeworks
marshmallow
Flask-CORS
PySide6
qt-material
gunicorn
flask
re-edge-gpt-dev
SpeechRecognition
build
twine
